spring:
  datasource:
    url: jdbc:h2:mem:paypulse;MODE=PostgreSQL;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    driverClassName: org.h2.Driver
    username: sa
    password: password
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    show-sql: false
  h2:
    console:
      enabled: true
      path: /h2-console
  jackson:
    serialization:
      WRITE_DATES_AS_TIMESTAMPS: false
    default-property-inclusion: non_null
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

paypulse:
  jwt:
    secret: "c4a7f9a6f4d64bc9899312850e0d5f9a5a2e27df0f9b17f1cd94b1f7b5e91234"
    expiration-minutes: 120

server:
  port: 8080
  error:
    include-message: always

